<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Cadastro</title>
    <link rel="stylesheet" href="/assets/css/cadastro.css">
</head>
<body>

    <div class="container">
      <form action="/cadastro/registro" method="POST">
        <h2>Criar Conta</h2>
        <%- include('error') -%>
        <div class="input-group">
            <label>E-mail</label>
            <input type="email" name="email" placeholder="seu@email.com">
        </div>

        <div class="input-group">
            <label>Usuário</label>
            <input type="text" name="username" placeholder="Escolha um nome de usuário">
        </div>

        <div class="input-group">
            <label>Senha</label>
            <input type="password" name="senha" placeholder="Digite sua senha">
        </div>

        <div class="input-group">
            <label>Confirme a Senha</label>
            <input type="password" name="confirmar_senha" placeholder="Repita a senha">
        </div>

        <div class="button-group">
            <button class="btn-cadastro">Cadastrar</button>
            <button class="btn-login" type="button" onclick="window.location.href='/login'">Voltar ao Login</button>
        </div>
        </form>
    </div>

</body>
</html>