<nav class="navbar navbar-expand-lg bg-body-warning" style="height: 40px;">
  <div class="container-fluid bg-black" style="height: 65px; border-radius: 10px;" >
    <a class="navbar-brand text-warning" href="#">Agenda</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto ml-auto mb-lg-100">
        <li class="nav-item">
          <a class="nav-link active text-warning" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-warning" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu bg-black">
            <li><a class="dropdown-item bg-black text-warning" href="#">Action</a></li>
            <li><a class="dropdown-item bg-black text-warning" href="#">Another action</a></li>
            <li><a class="dropdown-item bg-black text-warning" href="#">Something else here</a></li>
          </ul>
        </li>
       
      </ul>
      
    </div>
  </div>
</nav>